[Desktop Entry]
Name=HyprFM
Comment=File manager for Hyprland
Exec=hyprfm
Icon=system-file-manager
Terminal=false
Type=Application
Categories=System;FileManager;
StartupWMClass=hyprfm
